{% extends "layout.html" %}

{% block content %}
    <main class="home">
        <section class="heroSection"
        style="background-image: url('{{ url_for('static', filename='images/someday.jpg') }}');
        width: 100%;
        height: 750px;
        background-position: center 47%;
        background-size: cover;
        background-repeat: no-repeat;">
            <div class="heroSectionInner">
                <h1><span class="upperCase">mini wallet l</span>ab</h1>
            </div>
        </section>

        <section class="captionSection">
            <p><span class="upperCase">mini wallet l</span>ab では、キャッシュレス時代にぴったりの、<br>
                小さなお財布を制作しています。</p>
        </section>

        <!-- <section class="adProducts">
            <div>
                <div>
                    <div>
                        <h2>ちょうどいいを、丁寧に。</h2>
                        <h3>Just Day SERIES</h3>
                        <div>
                            <p>丁寧な暮らしにそっと寄り添いたいという想いを込めて、<br>
                                手に馴染み長く使って頂けるデザインを目指しました。
                                </p>
                            <p>当店のこだわりの詰まった一品です。</p>
                        </div>
                    </div>
                </div>
                <div></div>
            </div>
            <div>
                <div></div>                
                <div>
                    <div>
                        <h2>ミニマルな暮らしを実現する、<br>
                            カラフルなお財布。</h2>
                        <h3>Someday SERIES</h3>
                        <div>
                            <p>機能は賢く最小限でも、暮らしに色を添える存在でありたい。</p>
                            <p>そんな願いから生まれました。</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

    </main>    

{% endblock %}
